node_modules
.next
.next_cache_*
.turbo
coverage
.env
.env.local
dist
build
public/uploads
*.log
tsconfig.tsbuildinfo
.DS_Store
.artifacts/
.derived-ios/
config/*.local.json
ios/.DS_Store
ios/**/*.xcuserdata/
ios/**/xcuserdata/
ios/**/*.xcuserstate
