PRODUCT_BUNDLE_IDENTIFIER = shop.sportsearch.app
PRODUCT_NAME = SportSearch
SWIFT_VERSION = 5.0
IPHONEOS_DEPLOYMENT_TARGET = 16.4
TARGETED_DEVICE_FAMILY = 1,2
CODE_SIGN_STYLE = Automatic
DEVELOPMENT_TEAM =
API_SCHEME = https
API_BASE_URL = sportsearch.shop
USE_MOCK_DATA = NO
ALLOW_DEBUG_SERVER_TRUST = NO
APS_ENVIRONMENT = production
